<div class="row">
    <div class="col-lg-12 col-xl-12">
        <div class="card card-block card-stretch card-height files-table">
            <div class="card-body pt-0">
                <div class="table-responsive">
                    <table class="table mb-0 table-borderless tbl-server-info">
                        <thead>
                        <tr>
                            <th scope="col">名称</th>
                            <th scope="col">剩余天数</th>
                            <th scope="col">大小</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody id="load-trash-document-area">
                        <!-- 加载回收站文档 -->
                        </tbody>
                    </table>
                </div>
                <div class="row justify-content-center mt-3" id="no-trash-resources" style="display: none;">
                    <div class="col-12 col-12 col-12 text-center">
                        <h5>此处暂无文档!!!</h5>
                    </div>
                </div>
                <nav aria-label="Page navigation" id="load-trash-pagination-area">
                    <!-- 加载回收站分页按钮 -->
                </nav>
            </div>
        </div>
    </div>
</div>